<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318160846639-jji0elt6sof5njnmdj4f4v1vrmdh0kn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318160846639-jji0elt6sof5njnmdj4f4v1vrmdh0kn1</string>
	<key>API_KEY</key>
	<string>AIzaSyBxmOgl0MrSj_5XbyqAaRhiwb10Fj-29Sg</string>
	<key>GCM_SENDER_ID</key>
	<string>318160846639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scannerapp</string>
	<key>PROJECT_ID</key>
	<string>scannerapp-c92cd</string>
	<key>STORAGE_BUCKET</key>
	<string>scannerapp-c92cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318160846639:ios:80fbaac8c69a7bad94abda</string>
</dict>
</plist>